flows/After_Save_flow_For_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to customer for related cases</description>
        <name>Email_Alert_for_bank_cases</name>
        <label>Email Alert for bank cases</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notification_to_the_customer_on_case_creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>if case type is Bank</description>
        <name>Check_for_bank_Related_Cases</name>
        <label>Check for bank Related Cases</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bank_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_bank_cases</targetReference>
            </connector>
            <label>Is Bank Related</label>
        </rules>
    </decisions>
    <description>After Save flow For Cases</description>
    <interviewLabel>After Save flow For Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save flow For Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_bank_Related_Cases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
